@media screen and (min-width: 480px) {
    header {
        background-color: #70a48b;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .text-images {
        display: flex;
        flex-wrap: column;
        justify-content: space-between;
        margin: 50px;
    }
}

header {
    background-color: #70a48b;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    margin: 0;
    max-width: 100vp;
}

header ul {
    border-radius: 10px;
    border: white solid 2px;
    color: white;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 20px;
}

header li {
    margin: 10px;
    padding: 5px;
}

.special {
    background-color: #1f211c;
    border-radius: 10px;
}

main li {
    border-radius: 10px;
    list-style-type: none;
    background-color: #70a48b;
    border : #1f211c solid 1px;
    margin: 5px;
    padding: 20px;
    color: white;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
}

.round{
    border-radius: 10px;
}

footer {
    background-color: #70a48b;
    position: fixed;
    margin: 0;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    header {
        background-color: #70a48b;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .text-images {
        display: flex;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .text {
        flex: 1 1 0;
        min-width: 33%;
        margin: 15px;    
    }

    .images {
        flex: 2 1 0;
        flex-wrap: wrap;
    }
}